/*
 * styles for medium device
 */
@media screen and (min-width: 768px) {
    .filter-options { 
        display: flex;
        justify-content: center;
    }

    #restaurants-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    #restaurants-list li {
        width: 35%;  
    } 
}

/*
 * styles for large device
 */
 @media screen and (min-width: 1024px) {
     
}
